# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads
uploads/

# Python cache & virtual environments
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.so
.venv/
env/
venv/
.pytest_cache/
